@page "/cookieClicker"
@rendermode InteractiveServer

<PageTitle>CookieClicker</PageTitle>

<h1>Cookie Clicker</h1>

<p role="status">Current count: @manager.getCookies()</p>



@foreach (CookieHelper helper in manager.helpers)
{
    <button class="btn btn-primary" @onclick="() => manager.upgradeHelper(helper)">Upgrade</button>
}


<button class="btn btn-primary" @onclick="manager.onClick">Click</button>

@using System.Threading
@code {
    private Cookie manager = new Cookie();

    private Timer? timer;

    protected override void OnInitialized()
    {
        timer = new Timer(new TimerCallback(OnTimerTick), null, 1000, 1000);
    }

    // In .blazor file for easier UI updating, data and functions in .cs

    private void OnTimerTick(object? state)
    {
        InvokeAsync(() => 
        {
            manager.addCookies(manager.getCPS());
            StateHasChanged();
        });
    }
    
}
