@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @manager.getCookies()</p>



@if (manager.getCookies() > 10)
{
    //<button class="btn btn-primary" @onclick="">Upgrade</button>
    return;
}



<button class="btn btn-primary" @onclick="manager.onClick">Click</button>

@using System.Threading
@code {
    private Cookie manager = new Cookie();

    private Timer? timer;

    protected override void OnInitialized()
    {
        timer = new Timer(new TimerCallback(OnTimerTick), null, 1000, 1000);
    }

    private void OnTimerTick(object? state)
    {
        InvokeAsync(() => 
        {
            manager.addCookies(1);
            StateHasChanged();
        });
    }
    
}
