@page "/Login"
@using System.Text.RegularExpressions
@rendermode InteractiveServer

<div id="LoginBox">
    <h1>@loginTextToggle[createAccountToggle ? 1 : 0]</h1>
    <button @onclick="toggleMode">@toggleText[createAccountToggle ? 1 : 0]</button>
    <div id="Inputs">
        <p>Username</p>
        <input type="text" @bind="usernameInput"/>

        @if (createAccountToggle)
        {
            <p>Email</p>
            <input type="text" @bind="emailInput"/>
        }

        <p>Password</p>
        <input type="password" @bind="passwordInput"/>

    </div>
    <p id="ErrorText">@errorAlert</p>
    <button @onclick="onClickCreate">Confirm</button>
    
</div>

@code
{
    LoginManager manager = new LoginManager();
    public string usernameInput = "";
    public string emailInput = "";
    public string passwordInput= "";

    public bool createAccountToggle;
    public string[] loginTextToggle = {"Login", "Create Account"};
    public string[] toggleText = {"Create Account", "Have an account already?"};

    public string errorAlert = "";

    public void toggleMode()
    {
        createAccountToggle = !createAccountToggle;
    }
    /*
        Checks length, numbers, etc.
    */


    public void onClickLogin()
    {
        
        
    }

    public void onClickCreate()
    {
        errorAlert = "";
        if (!manager.checkValidEmailFormat(emailInput)) errorAlert += "Invalid Email.\n";
        if (!manager.checkPasswordStrength(passwordInput)) errorAlert += "Password too weak!\n";
        
        if (errorAlert == "") errorAlert = "Valid Password";

        manager.hashAndSalt(passwordInput);
    }

}